body {
  background: rgb(239, 240, 170);
  font-family: sans-serif;
  max-width: 1500px;
} 

.text {
  background-color: black;
  color: white;
  font-size: 3vw; 
  font-weight: bold;
  margin: 20px auto;
  padding: 10px;
  width: 50%;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 25%;
}

.menu {
    float: right;
    margin-top: 0px,10,0,10;
}

nav >ul >li { 
    display: inline-block;
    list-style: none;
    text-align: center;
    padding: 15px;
    width: 50px;
    font-weight: bold;
    font-size: 1vw;
    right: 10%;
}

a {
    color: white;
    background-color: black;
    padding: 25px;
    margin: auto;
}

section {
    float: none;
    margin: 10% 10% 10% 10%;
}

section div img {
    float: left;
    margin: 0px 30px 30px 30px;
    width: 350px;
    height: 500px;
}

section div p {
    float: left;
    margin: 20px 30px 20px 30px;
    background-color: white;
    width: 325px;
    padding: 15px;
    border-radius: 3px;
}

.column {
    float: left;
    margin: 20% 30px 30px 30px;
    width: 370px;
}

.main-body a {
  background-color:black;
  color:white;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  width: 25%;
  padding: 15px;
  font-size: 1.5vw;
  border-radius: 3px;
  margin: 0 0 0 30px;
  transition: all 200ms ease;
}

.main-body a:hover {
    
  background-color: white;
  color:black;
  cursor: pointer;
}

footer img{
    display: inline-block;
    margin-top: 50px;
    margin-left: 55%;
    margin-right: 50%;
    margin-bottom: 10px;
}

footer span{
    display: inline-block;
    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: 50px;
}

#about {
    display: inline-block;
    margin-top: 20%;
    margin-left: 40%;
    margin-right: 50%;
    margin-bottom: 10px;
}