body {
  background: rgb(239, 240, 170);
  font-family: sans-serif;
} 

.text {
  background-color: black;
  color: white;
  font-size: 3vw; 
  font-weight: bold;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 25%;
}

h1, h2, a{
    font-weight: 100;
    background-color: black;
    color: white;
    font-weight: bold;
    width: 150px;
    text-align: center;
    padding: 10px;
}

nav {
    size: 1200px;
    float: right;
    margin: 50px;
}

nav >ul >li { 
    display: inline-block;
    list-style: none;
    text-align: center;
    margin: auto;
    size: 800px;
    text-decoration: underline;
    padding: 15px;
    width: 50px;
}

a {
    color: white;
    background-color: black;
    padding: 25px;
    margin: auto;
}

h1 {
    text-align: center;
}

section {
    float: none;
    margin: 10px 100px 10px 100px;
}

section div img {
    float: left;
    margin: 10px 30px 30px 30px;
    width: 350px;
}

section div p {
    float: left;
    margin: 10px 30px 30px 30px;
    width: 325px;
}

section div h2 {
    float: left;
    margin: 10px 30px 30px 30px;
}

.column {
    float: left;
    margin: 350px 30px 30px 30px;
    width: 350px;
}
